@model IEnumerable<LapLich.Models.Day>
@using LapLich.Models

@{
    ViewBag.Title = "DaysOff";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="w-50 m-auto flex items-center space-x-2">
    @{
        var doctor = ViewBag.Doctor as Doctor;
        int index = doctor.DoctorID;

        // Nút Trở về
        if (index > 1)
        {
            var prevIndex = index - 1;
            <a href="@Url.Action("DaysOff", "Admin", new { doctorId = prevIndex })"
               class="bg-blue-300 text-gray-800 py-1 px-3 rounded text-sm hover:bg-blue-400 transition duration-200">
                < Trở về
            </a>
        }
        else
        {
            <span class="bg-gray-300 text-gray-600 py-1 px-3 rounded text-sm"> < Trở về </span>
        }

        <h3 class="text-2xl font-semibold mb-4 mt-4">@doctor.DoctorName</h3>

        // Nút Tiếp
        if (index < 30)
        {
            var nextIndex = index + 1;  // Lưu giá trị tuần tiếp theo
            <a href="@Url.Action("DaysOff", "Admin", new { doctorId = nextIndex })"
               class="bg-blue-300 text-gray-800 py-1 px-3 rounded text-sm hover:bg-blue-400 transition duration-200">
                Tiếp >
            </a>
        }
        else
        {
            <span class="bg-gray-300 text-gray-600 py-1 px-3 rounded text-sm"> Tiếp > </span>
        }
    }
</div>

<div class="w-50 m-auto">
    <form class="form-check" action="@Url.Action("SaveDaysOff")" method="post">
        <input type="hidden" name="doctorId" value="@doctor.DoctorID" />
        <p class="badge bg-danger">Chọn ngày nghỉ cho tháng @Model.First().Date.ToString("MM/yyyy")</p>
        <div class="row row-cols-5">
            @foreach (var item in Model)
            {
                <div class="col my-1">
                    <input class="form-check-input" id="@item.DayID" type="checkbox" name="selectedDays" value="@item.DayID"
                           @(doctor.DaysOff.Contains(item) ? "checked" : "") />
                    <label class="form-check-label" for="@item.DayID">@item.DayID</label>
                </div>
            }
        </div>
        <button type="submit" class="bg-blue-600 text-white rounded p-2 hover:bg-blue-700 transition mt-4">Lưu Ngày Nghỉ</button>

        <a class="btn btn-secondary ms-5" href="/Admin/ListDoctors">Quay lại</a>
    </form>
</div>
